autostart/
dconf/
enchant/
epiphany/
gedit/
gtk-3.0/
i3status/
leafpad/
libfm/
libreoffice/
lxpanel/
lxsession/
lxterminal/
openbox/
pcmanfm/
pulse/
sonic-pi.net/
Trolltech.conf
user-dirs.dirs
user-dirs.locale
