QtProject.conf
qutebrowser/qsettings/QtProject.conf
qutebrowser/bookmarks/urls
VirtualBox/
ranger/bookmarks
spotify/
pharo/
ranger/history
autostart/
dconf/
enchant/
epiphany/
gedit/
gtk-3.0/
i3status/
leafpad/
libfm/
libreoffice/
lxpanel/
lxsession/
lxterminal/
openbox/
pcmanfm/
pulse/
sonic-pi.net/
mpd/playlists/
mpd/database
mpd/log
mpd/pid
mpd/state
mpd/sticker.sql
mps-youtube/cache*
mps-youtube/input_history
mps-youtube/play_history
Trolltech.conf
user-dirs.dirs
user-dirs.locale
wallpaper.png
